[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fiscalyear = "*"
humanize = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
tzlocal = "*"
Babel = "*"
Delorean = "*"
pandas = "*"
numpy = "*"

[dev-packages]
importmagic = "*"
epc = "*"
python-lsp-server = "*"

[requires]
python_version = "3"
