[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fiscalyear = "*"
humanize = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
tzlocal = "*"
Babel = "*"
Delorean = "*"
pandas = "*"
numpy = "*"
importmagic = "*"
epc = "*"
setuptools = ">=70.0.0"
pipfile = "*"

[dev-packages]
importmagic = "*"
epc = "*"
python-lsp-server = "*"
setuptools = ">=70.0.0"
isort = "*"

[requires]
python_version = "3"
